:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content:center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.board {
  display:grid;
  margin: 40px auto;
  text-align: center;
}

.board .game {
  display:grid;
  padding:17px;
}

.cell {
  position:relative;
  width: 120px;
  height: 120px;
  padding: 10px;
  justify-content:center;
  color: #eee;
  font-size: 70px;
  cursor: pointer;
  border: 1px solid #eee;
}

.cell:hover {
  background-color: darkgray;
}

.winner {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #eee;
  margin: 20px auto;
}

.winner_text {
  font-size: 30px;
}

.utility {
  display:flex;
  margin: 20px auto;
  justify-content: center;

}

.utility .reset_button {
  background-color: transparent;
  border: 1px solid rgb(158, 158, 158);
  font-size: 17px;
  color: #eee;
  padding: 10px;
  border-radius: 5%;
}

.utility .reset_button:hover {
  background-color: rgb(235, 234, 234);
  color: black;
  font-size: 19px;
  transition: 0.3s ease-in-out;
}